@charset "UFT-8";

body{
    background-color: rgb(21, 42, 49);
    font: normal 15pt Arial;
}
header {
    text-align: center;
    color: white;
}
section {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    width: 530px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);   
}

select#flista {
    width: 200px;
}

footer {
color: white;
text-align: center;
padding-top: 15px;
font-style: italic;
font-size: 1.2em;
}